body {
  padding-top: 60px;

  div {

    &.row {
      &.links {
        a {
          margin: 0 10px;
        }
      }
    }
    .something {
      .foo {
        transition: 300ms ease-in color;
      }
      p {
        min-width: 10px;
        max-width: 200px;
      }

    }
  }
}
