{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1>{{ view.object }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form method="POST" action='{% url "questionpoll:vote" id=view.object.id %}' class="vote-form socket-form" data-action="vote">
        {% csrf_token %}
        {{ form }}

        <input type='submit' value="Vote">
      </form>
    </div>
  </div>

{% endblock content %}

